.Titulo{
    text-align: center;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffc581;
    margin: auto;
    padding-bottom: 65px;
    font-size:250%;
  position: sticky;
    top: 0px; 
    
}

.Bloque1{
    background-color: #ffc581;
    padding: 2px;

}


.menu{
    list-style: none;
    display: flex; 
    border: 2px;
    border-spacing: 2px;
    margin: 0px 10px 0px 10px;
    align-items:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    text-transform: uppercase;
    border-style:solid;
    box-sizing:content-box;
    background-color: white;

    
}


.Pagina{
        background-color: #aaaaaa;
        border-radius: 15%;
}




    .menu li{
    float: left;
    padding: 7px;
   
}

.menu a{
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    box-sizing:content-box;   
    
}

#Foto1{
    width: 17rem;
    height: 21rem;
    padding: 35px;
    position:static;
    display: inline-block ;
    right: 0px;
    margin: 12px;
    margin-top: 0px;
}

h2{
    padding: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
    left: 30px;
    text-align: justify;
    width: 750px;
    height: 200px;
    margin: 30px;
    display: inline-block ;
}

footer{
    background-color: #ffc581;
}
.wpp{
    position: fixed;
    bottom: 12px;
    width: 75px;
    height: auto;
    left: -12px;
}

.ig{
    width: 45px;
    position: fixed;
    display: flex;
    justify-content: top ;
    height: auto;
    bottom: 90px;
    left: 2px;
}

.Menuabajo{
    bottom: 0px;
    width: 220px;
    height: 90px;
    display: inline-block;
    list-style: none;
    margin-left: 100px;
    border-style: solid;
    text-align: center;
    border-style:solid;
    box-sizing:content-box;
    background-color: white;
    padding-left: 0px;
    font-size: 115%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 0px;
}

.Menuabajo li{
    border-style: solid;
    border-width: 1px;
}

.Menuabajo a{
    text-decoration: none;
    color: black;
    
}

.Formulario{
    display: inline;
    right: 0px;
    height: auto;
    margin-left: 700px;
    top: 0px;
    
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    right: 0px;
    padding-left: 600px;
    top: 0px;
    margin: -105px 20px 20px 20px;
    display:block;
    
}



.tel{
    padding: 50px;
    margin:-350px 50px -200px 50px;
    display: block;
    top: 0px;
    bottom: 550px;
    position: static;
}



h4 a{
    text-decoration: none;
    color: black;
}

#pedidos{
    padding: 29px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    left: 30px;
    text-align:justify;
    width: 700px;
    height: auto;
    display: block ;
    right: 0px;
    margin-left: 500px;
    margin: 50px 400px;
    padding: 50px;
    
}

/* #redes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 
    "wppp igg" 
    "wpppp igggg";
} */

#igggg{
    margin:-40px 450px 0px 945px;
    border-style: solid;
    width: 90px;
    height: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #aaaaaa;
    text-align: center;
    display: block;
}

#wpppp{
    margin: 0px 0px 0px 500px;
    border-style: solid;
    width: 90px;
    height: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #aaaaaa;
    text-align: center;
    display: inline;
    justify-content: center;
    align-items: center;
}
#wppp{
    width: 8rem;
    height: auto  ;
    margin: 0px 50px;
    margin-left:480px ;
    }

#igg{
    width: 4.5rem;
    height: auto  ;
    margin: -600px 150px 105px 25px;
    margin-left:950px ;
}

#map{
    padding: 50px;
    margin:-350px 0px -200px 0px;
    display: block;
    top: 0px;
    bottom: 550px;
    position: static;
    width: 350px;
    height: 350px;
}

@media screen and (max-width:768px){


    #info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "Foto1 texto1" ;
    }

    #Foto1{
        position:static;
        width: 210px;
        height: auto;
        margin: 0px 50px 50px -550px;
    }

    #texto1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 60%;
        position:absolute;
        text-align:justify;
        width: 450px;
        right: -10px;
        height: auto;
        margin: 0px 0px 180px -250px;
        display:flex
        
      
    }
    .Titulo{
        position: static;
}

    .Menuabajo{
        margin: 160px 50px 50px 50px;

    }

   .pregunta {
    position: absolute;
    right: 100px;
    top: 750px;
   }
    .boton{
        display: absolute;
        top: 750px;
        right: 400px;
    }
    .Formulario{
        right: 350px;
        display:absolute;
    }
    
/*     .recetas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
        grid-template-areas: 
        "boios"
        "falafel"
        "keppe"
        "zambu"
        "laj"
        "catalogo";
    } */
    .boios{
        width: 700px;
        height: auto;

    }
    .falafel{
        width: 700px;
        height: auto;
        top: 0px;
        display: absolute;
    }
    .keppe{
        width: 700px;
        height: auto;
    }
    .zambu{
        width: 700px;
        height: auto;
    }
    .laj{
        width: 700px;
        height: auto;
    }
    .catalogo{
        width: 700px;
        height: auto;
    }
#Pregunta{
    display:block;
    margin: -250px 15px 95px -250px;
}

}

@media screen and (max-width:500px){
    .menu{
        list-style: none;
        display: flex; 
        font-size: smaller;
        border: 2px;
        border-spacing: 2px;
        margin: 0px 10px 0px 10px;
        align-items:center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content:space-around;
        text-transform: uppercase;
        border-style:solid;
        box-sizing:content-box;
        background-color: white;
    }
    #info{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "Foto1" 
        "texto1" ;
    }

    #Foto1{
        position:static;
        width: 380px;
        height: auto;
        right: 50px;
        margin: 0px -20px 100px -550px;
    }

    #texto1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 70%;
        position:absolute;
        text-align:justify;
        width: 450px;
        right: -10px;
        height: auto;
        margin: 550px 0px 10px -250px;
        display:flex
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "Menuabajo"
        "pregunta"
    }
    .Menuabajo{
        margin: 40px 40px 50px 100px;

    }

   .pregunta {
    position: absolute;
    right: 50px;
    top: 1800px;
   }
    .boton{
        display: absolute;
        top: 950px;
        right: 400px;
    }
    .Formulario{
        right: 450px;
        display:absolute;
    }

    .boios{
        width: 400px;
        height: auto;

    }
    .falafel{
        width: 400px;
        height: auto;
        top: 0px;
        display: absolute;
    }
    .keppe{
        width: 400px;
        height: auto;
    }
    .zambu{
        width: 400px;
        height: auto;
    }
    .laj{
        width: 400px;
        height: auto;
    }
    .catalogo{
        width: 400px;
        height: auto;
    }
    #Pregunta{
    display:static;
    margin: -50px 150px 5px -150px;
    bottom: 0px;
}
    


}